<html>
  <head>
    <!--link type="text/css" rel="stylesheet" href="/css/main.css" /-->    
    <title>来路任务数据查询</title>
    <style type="text/css">
		body { font-family:arial,sans-serif; font-size:9pt; }
		
        .bTried {
            color: #6F6F6F;
        }
        .bTring {
            color: #0000CD;
        }
        .bWaiting {
            color: #DD0085;
        }
		#missionInfoTab { 
            width: 900px; 
            padding: 0; 
            margin: 0; 
            } 
            
        #missionInfoTab caption { 
            padding: 0 0 5px 0; 
            width: 900px; 
            font: italic 11px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif; 
            text-align: right; 
            } 
            
        #missionInfoTab th { 
            font: bold 11px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif; 
            color: #4f6b72; 
            border-right: 1px solid #C1DAD7; 
            border-bottom: 1px solid #C1DAD7; 
            border-top: 1px solid #C1DAD7; 
            letter-spacing: 2px; 
            text-transform: uppercase; 
            text-align: left; 
            padding: 6px 6px 6px 12px; 
            background: #CAE8EA no-repeat; 
            } 
            /*power by www.winshell.cn*/ 
        #missionInfoTab th.nobg { 
            border-top: 0; 
            border-left: 0; 
            border-right: 1px solid #C1DAD7; 
            background: none; 
            } 
            
        #missionInfoTab td { 
            border-right: 1px solid #C1DAD7; 
            border-bottom: 1px solid #C1DAD7; 
            background: #fff; 
            font-size:11px; 
            padding: 6px 6px 6px 12px; 
            color: #4f6b72; 
            } 
            /*power by www.winshell.cn*/ 
            
        #missionInfoTab td.alt { 
            background: #F5FAFA; 
            color: #797268; 
            } 
            
        #missionInfoTab th.spec { 
            border-left: 1px solid #C1DAD7; 
            border-top: 0; 
            background: #fff no-repeat; 
            font: bold 10px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif; 
            } 
            
        #missionInfoTab th.specalt { 
            border-left: 1px solid #C1DAD7; 
            border-top: 0; 
            background: #f5fafa no-repeat; 
            font: bold 10px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif; 
            color: #797268; 
            } 
        #missionInfoTab input {  text-align:center; border:1px solid black; background-color:#ccc; cursor:default; font-size:9pt; }
        #missionInfoTab input.hover { background-color:#eee; }
        #missionInfoTab input.active { background-color:#aaa; }
    .my_clip_button { width:150px; text-align:center; border:1px solid black; background-color:#ccc; margin:10px; padding:10px; cursor:default; font-size:9pt; }
	.my_clip_button.hover { background-color:#eee; }
	.my_clip_button.active { background-color:#aaa; }
	</style>
    <script src="static/js/ZeroClipboard.js"></script>
    <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.7.2.min.js"></script>  
    <script language="JavaScript" >
        //for csrf checking
        jQuery(document).ajaxSend(function(event, xhr, settings) {
            function getCookie(name) {
                var cookieValue = null;
                if (document.cookie && document.cookie != '') {
                    var cookies = document.cookie.split(';');
                    for (var i = 0; i < cookies.length; i++) {
                        var cookie = jQuery.trim(cookies[i]);
                        // Does this cookie string begin with the name we want?
                        if (cookie.substring(0, name.length + 1) == (name + '=')) {
                            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                            break;
                        }
                    }
                }
                return cookieValue;
            }
            function sameOrigin(url) {
                // url could be relative or scheme relative or absolute
                var host = document.location.host; // host + port
                var protocol = document.location.protocol;
                var sr_origin = '//' + host;
                var origin = protocol + sr_origin;
                // Allow absolute or scheme relative URLs to same origin
                return (url == origin || url.slice(0, origin.length + 1) == origin + '/') ||
                    (url == sr_origin || url.slice(0, sr_origin.length + 1) == sr_origin + '/') ||
                    // or any other URL that isn't scheme relative or absolute i.e relative.
                    !(/^(\/\/|http:|https:).*/.test(url));
            }
            function safeMethod(method) {
                return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
            }
        
            if (!safeMethod(settings.type) && sameOrigin(settings.url)) {
                xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
            }
        });
        
        function setTdValue(td,url)
        {
            td.value=url.replace(/^\s*/,"").replace(/\s*$/,"")
        }
        
        
        /**
        * 删除左右两端的空格,及中间的空格
        */
        String.prototype.trim=function()
        {
             return this.replace(/\s*/g,"")
        }
        
        function queryMissionInfo(form)
        {
            //downloadUrl("/getmissioninfo", "POST", "content=" + encodeURI(document.getElementById("keyword").value), onQueryReturned);
            
            //alert("|"+$("#queryText")[0].value+"|"+$("#queryText")[0].value.trim()+"|")
            $.post("/missioninfo",{"content":encodeURI($("#queryText")[0].value.trim())},function(responseText)
                {
                    $("#missionInfoDiv")[0].innerHTML = responseText;
                    for(var i=0 ;i < $(".missionInfoTr").length ;++i)
                    {
                        initClipBtn(i);
                        $(".url")[i].onclick()
                    }
                }
                ,"text");
		    $("#missionInfoDiv")[0].innerHTML = "<p1>数据请求中...</p1>";
		        
        }

        function initClipBtn(index)
        {
            //$(".missionInfoTr")[index]
            var clip = new ZeroClipboard.Client();
    		clip.setHandCursor( true );
    		clip.addEventListener('load', function (client) {
    			//debugstr("Flash movie loaded and ready.");
    		});
    		
    		clip.addEventListener('mouseOver', function (client) {
    			// update the text on mouse over
    			clip.setText(  $(".missionInfoTr:eq("+index+") > .url:last ")[0].value );
    		});
    		
    		clip.addEventListener('complete', function (client, text) {
    			//debugstr("Copied text to clipboard: " + text );
    			//alert("Copied text to clipboard: " + text );
    		});
    		
    		
    		clip.glue( $(".missionInfoTr:eq("+index+") input:last ")[0], $(".missionInfoTr:eq("+index+") input:last ")[0].parentNode );
    		
            //$("#op_"+mission_id+" > input :last"
        }
 

        function delmissionInfo(input)
        {
            if(confirm("确定删除这条记录吗?","确定","取消"))
            {
                key_id=input.name
                object=input
                while (object.tagName != 'TR') {
                    object = object.parentNode;
                }
                object.parentNode.removeChild(object);
                for(var i=0 ;i < $(".missionInfoTr").length ;++i)
                {
                    initClipBtn(i);
                }
                $.post("/deletemissioninfo",{"key_id":key_id},function(responseText)
                    {
                        alert(responseText)
                    });
            }
        }
        
        function delLine(input)
        {
            object=input
            while (object.tagName != 'TR') {
                object = object.parentNode;
            }
            object.parentNode.removeChild(object);
            for(var i=0 ;i < $(".missionInfoTr").length ;++i)
            {
                initClipBtn(i);
            }
        }
        
        function showMessage(theMission)
        {
            message=theMission.message.replace(/;;+/g,";").replace(/^;/,"").replace(/;$/,"")
            message_pieces=message.split(";")
            theMissionDivHtml=  "<p>任务信息:</p><br/>"
                                "<ul>"
            for(var i=0;i<message_pieces.length;++i)
            {        
                theMissionDivHtml=theMissionDivHtml+
                                    "<li>"+message_pieces[i]+"</li>"
            }
            theMissionDivHtml=theMissionDivHtml+
                                "</ul>"
            theMissionDivHtml=theMissionDivHtml+"<p>尝试的url:</p><br/>"
                                "<ul>"
            for(var i=0;i<theMission.urls.length;++i)
            {   
                if(theMission.bTried[i])
                {
                    theMissionDivHtml=theMissionDivHtml+
                                    "<li class='bTried' value='"+theMission.urls[i]+"'>"+theMission.urls[i]+"</li>"
                }
                else if(theMission.fetchResultTimes[i]==0)
                {
                    theMissionDivHtml=theMissionDivHtml+
                                    "<li class='bWaiting'>"+theMission.urls[i]+"</li>"
                }
                else 
                {
                    theMissionDivHtml=theMissionDivHtml+
                                    "<li class='bTring'>"+theMission.urls[i]+"</li>"
                }
            }
            theMissionDivHtml=theMissionDivHtml+
                                "</ul>"
            if(theMission.url!="")
            {
                theMissionDivHtml=theMissionDivHtml+"<br/>配对的url:<p>"+theMission.url+"</p>"
            }
            
            $("#theMission")[0].innerHTML=theMissionDivHtml
            
        }
        
		function showSubmitUrlDiv(itemId)
		{
			submitUrlDivHtml= "<textarea id='urlsInput' style='width: 600px; height: 200px;' ></textarea>"
			submitUrlDivHtml=submitUrlDivHtml+
					"<input type='button' value='submit urls' id='submitUrlsBtn' />"
            submitUrlDivHtml=submitUrlDivHtml+
					"<input type='button' value='invalid mission' id='invalidMissionBtn' />"
            submitUrlDivHtml=submitUrlDivHtml+
					"<input type='button' value='delete mission' id='deleteMissionBtn' />"        
			$("#submitUrlDiv")[0].innerHTML=submitUrlDivHtml
			$("#submitUrlsBtn")[0].onclick=function()
			{
				var submitData={}
				submitData["itemId"]=itemId
				urls_input=$("#urlsInput")[0].value.replace(/\s*$/,"").replace(/\n/g,"").replace(/;;+/g,";").replace(/^;/,"").replace(/;$/,"").split(";")
				urls_query=new Array()
				submitUrls=new Array()
				/*for(var i=0;i<$(".url").length;++i)
				{
					urls_query[i]=$(".url")[i].value
				}*/
				
				for(var i=0;i<urls_input.length;++i)
				{
					submitUrls.push(urls_input[i])
				}
				for(var i=0;i<urls_query.length;++i)
				{
					submitUrls.push(urls_query[i])
				}
				
				var bConfirm=false
				var bDuplicate=false
				submitData["urls"]="["
				for(var i=0;i<submitUrls.length;i++)
				{
					if(bDuplicate==false)
					{
						for(var j=0;j<$(".bTried").length;++j)
						{   
							if($(".bTried")[j].value==submitUrls[i])
							{
								if(bConfirm == false)
								{
									bDuplicate = confirm("有曾经提交验证过的url,确定再次提交吗？","提交","不重复提交")
									bConfirm = true
								}    
								if(bDuplicate==true)
								{
									break;
								}
								else
								{
									submitUrls.splice(i,1,"")//replace by empty string
								}
							}
							
						}
					}
					if(submitUrls[i]!="")
					{
						if(submitData["urls"]!='[')
						{
							submitData["urls"]=submitData["urls"]+","
						}
						submitData["urls"]=submitData["urls"]+"\""+submitUrls[i]+"\""
					}
				}
				submitData["urls"]=submitData["urls"]+"]"
				
				submitUrl(submitData)
				
			}
            
            $("#invalidMissionBtn")[0].onclick=function()
            {
                $.post("/invalidmissionc",{"itemId":itemId},function(data)
                {
                    alert(data)
                })
            }
            
            $("#deleteMissionBtn")[0].onclick=function()
            {
                $.post("/deletemissionc",{"itemId":itemId},function(data)
                {
                    alert(data)
                })
            }
		}
		
        function getMission(itemId)
        {
			if(typeof(itemId)=="undefined")
			{
				itemId=""
			}
            $.post("/getmission",{"itemId":itemId},function(data)
                {
                    if(data.status=="waitForUrls" || data.status=="undergo")
                    {
                        if(itemId!="")
                        {
                            showMessage(data.theMission)
                            showSubmitUrlDiv(data.theMission.itemId)
                        }
                        else if (data.status=="waitForUrls" )
                        {
                            getMissionList();
                            $("#playAudioGot")[0].volume=0.3;
                            $("#playAudioGot")[0].play()
                            alert("got new mission")
                        }
                        $("#getNewMissionBtn")[0].value="get new mission"
                    }
                    else if(data.status=="missionCompleted")
                    {
                        if(itemId!="")
                        {
                            showMessage(data.theMission)
                            $("#theMission")[0].innerHTML='<p style="color:#FF1111">mission completed</p>&nbsp;'+$("#theMission")[0].innerHTML
                        }
                    }
                    else if(data.status=="warnMissionNeed2Handle")
                    {
                        $("#playAudioNeed2Handle")[0].volume=0.3;
                        $("#playAudioNeed2Handle")[0].play()
                       
                    }
                }
                ,"json")
        }
        
        function getNewMission()
        {
            $("#getNewMissionBtn")[0].value="get new mission ..."
            getMission()
            if(typeof($("#switchGetNewMissionBtn")[0].keep)=="undefined"||$("#switchGetNewMissionBtn")[0].keep==1)
            {
                setTimeout("getNewMission()",15000)
            }
            return 
        }
		
        function switchGetNewMission(input)
        {
            if(typeof($("#switchGetNewMissionBtn")[0].keep)=="undefined"||$("#switchGetNewMissionBtn")[0].keep==1)
            {
                input.keep=0
                $("#switchGetNewMissionBtn")[0].value="keep"
            }
            else
            {
                input.keep=1
                $("#switchGetNewMissionBtn")[0].value="stop"
            }
        }
		function getMissionList()
		{
			$.post("/getmissionlist",{"filter":"0"},function(data)
                {
					theMissionListHtml=""
					if(data.theMissionList.length>0)
					{
						for(var i=0 ;i<data.theMissionList.length;++i)
						{
							theMissionListHtml=theMissionListHtml+
								//"<input type='button' onclick='getMission("+data.theMissionList[i].itemId+");' value='"+data.theMissionList[i].itemId+"' />"
                                "<a href='javascript:getMission(\""+data.theMissionList[i].itemId+"\");'>"+data.theMissionList[i].itemId+"</a>&nbsp;"
						}
                        
					}
					else
					{
						theMissionListHtml="no undergo mission now"
					}
					$("#theMissionList")[0].innerHTML=theMissionListHtml+
						"<br/><input id='getNewMissionBtn' value='get new mission' type='button' onclick='getNewMission(this)' />"+
                        "<input id='switchGetNewMissionBtn' value='stop' type='button' onclick='switchGetNewMission(this)' />"
				}
				,"json")
		}
        
        function getMissionListA()
		{
			$.post("/getmissionlist",{"filter":"1"},function(data)
                {
					theMissionListHtml=""
					if(data.theMissionList.length>0)
					{
						for(var i=0 ;i<data.theMissionList.length;++i)
						{
							theMissionListHtml=theMissionListHtml+
								//"<input type='button' onclick='getMission("+data.theMissionList[i].itemId+");' value='"+data.theMissionList[i].itemId+"' />"
                                "<a href='javascript:getMission(\""+data.theMissionList[i].itemId+"\");'>"+data.theMissionList[i].itemId+"</a>&nbsp;"
						}
                        
					}
					else
					{
						theMissionListHtml="no undergo mission now"
					}
					$("#theMissionList")[0].innerHTML=theMissionListHtml+
						"<br/><input id='getNewMissionBtn' value='get new mission' type='button' onclick='getNewMission(this)' />"+
                        "<input id='switchGetNewMissionBtn' value='stop' type='button' onclick='switchGetNewMission(this)' />"
				}
				,"json")
		}
        
        function submitUrl(submitData)
        {
            $.post("/submiturl",submitData,function(data)
                {
                    //showMessage(data.theMission)
                    //showSubmitUrlDiv(data.theMission.itemId)
                    if(data.status!="missionComplete")
                    {
                        //submitUrl({"itemId":data.theMission.itemId})
                    }
                }
                ,"json")
        }
        
        function waitForResult(itemId)
        {
            $.post("/waitforresult",{"itemId":itemId,"urls":["1","2","3"]},function(data)
                {
                    //to do
                }
                ,"json")
        }
        
        function upQueryUrls()
        {
            urls_query=new Array()
            for(var i=0;i<$(".url").length;++i)
            {
                bAdd=true
                for(var j=0;j<urls_query.length;++j)
                {
                    if(urls_query[j]==$(".url")[i].value)
                    {
                        bAdd=false;
                        break;
                    }
                }
                if(bAdd==true)
                {
                    urls_query.push($(".url")[i].value)
                }
            }
            urls_query_str=urls_query.join(";")
            $("#urlsInput")[0].value=urls_query_str
        }

        function clearDoneBuffer()
        {
            $.post("/cleardonebuffer",function(data)
                {
                    alert(data)
                })
        }
	</script>
  </head>
  <body >
    {% if user %}
        <div align="right">Logged in as {{ user.username }} - 
    	    <a href="{{log_in_out_url}}">Log out</a> </div>
   	{% else %}
    	<div align="right"><a href="{{log_in_out_url}}">Log in</a></div>
    {% endif %}
	<div id="theMissionList">
	</div>
	<div id="theMission">        
    </div>
    <div id="submitUrlDiv">
    </div>
    <div>
        <form action="javascript:queryMissionInfo();">
            {% csrf_token %}
          <div>
            <input name="keyword" type="text" id="queryText" size="120"></input>
            <input type="submit" value="query">
            <input type="button" value="up" onclick="upQueryUrls()">
          </div>
          未处理任务数：{{unhandledMissionCount}}，进行中任务数：{{undergoMissionCount}} &nbsp;
          <input type="button" onclick="getMissionList();" value="赶紧做任务" />
           <input type="button" onclick="getMissionListA();" value="过滤任务" />
          <input type="button" onclick="clearDoneBuffer();" value="clear doneBuffer" />
        </form>    
    </div>
    <div id="missionInfoDiv" style="padding:10px;background-color:white;width:100%; overflow:auto;">
        <table id="missionInfoTab" >
            <caption>查询结果</caption>
            <tr>
                <td>序列</td>
                <td>掌柜名</td>
                <td>提示信息</td>
                <td>访问url</td>
                <td>任务网站</td>
                <td>可用</td>
                <td>更新时间</td>
                <td>操作</td>
            </tr>
        </table>
     
	</div>
    <div>
        <audio id="playAudioGot"  preload="auto" src="http://storage.live.com/items/96902E43106FA83C%21110?filename%3dalreadygot.ogg" > <b>Your browser does not support the audio tag.</b> </audio> 
        <audio id="playAudioNeed2Handle"  preload="auto" src="/static/sound/need2handle.ogg" > <b>Your browser does not support the audio tag.</b> </audio> 
    </div>
  </body>
</html>