<html>
  <head>
    <!--link type="text/css" rel="stylesheet" href="/css/main.css" /-->    
    <title>来路任务数据查询</title>
    <style type="text/css">
		body { font-family:arial,sans-serif; font-size:9pt; }
		
        .bTried {
            color: #6F6F6F;
        }
        .bTring {
            color: #0000CD;
        }
        .bWaiting {
            color: #DD0085;
        }
		#missionInfoTab { 
            width: 900px; 
            padding: 0; 
            margin: 0; 
            } 
            
        #missionInfoTab caption { 
            padding: 0 0 5px 0; 
            width: 900px; 
            font: italic 11px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif; 
            text-align: right; 
            } 
            
        #missionInfoTab th { 
            font: bold 11px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif; 
            color: #4f6b72; 
            border-right: 1px solid #C1DAD7; 
            border-bottom: 1px solid #C1DAD7; 
            border-top: 1px solid #C1DAD7; 
            letter-spacing: 2px; 
            text-transform: uppercase; 
            text-align: left; 
            padding: 6px 6px 6px 12px; 
            background: #CAE8EA no-repeat; 
            } 
            /*power by www.winshell.cn*/ 
        #missionInfoTab th.nobg { 
            border-top: 0; 
            border-left: 0; 
            border-right: 1px solid #C1DAD7; 
            background: none; 
            } 
            
        #missionInfoTab td { 
            border-right: 1px solid #C1DAD7; 
            border-bottom: 1px solid #C1DAD7; 
            background: #fff; 
            font-size:11px; 
            padding: 6px 6px 6px 12px; 
            color: #4f6b72; 
            } 
            /*power by www.winshell.cn*/ 
            
        #missionInfoTab td.alt { 
            background: #F5FAFA; 
            color: #797268; 
            } 
            
        #missionInfoTab th.spec { 
            border-left: 1px solid #C1DAD7; 
            border-top: 0; 
            background: #fff no-repeat; 
            font: bold 10px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif; 
            } 
            
        #missionInfoTab th.specalt { 
            border-left: 1px solid #C1DAD7; 
            border-top: 0; 
            background: #f5fafa no-repeat; 
            font: bold 10px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif; 
            color: #797268; 
            } 
        #missionInfoTab input {  text-align:center; border:1px solid black; background-color:#ccc; cursor:default; font-size:9pt; }
        #missionInfoTab input.hover { background-color:#eee; }
        #missionInfoTab input.active { background-color:#aaa; }
    .my_clip_button { width:150px; text-align:center; border:1px solid black; background-color:#ccc; margin:10px; padding:10px; cursor:default; font-size:9pt; }
	.my_clip_button.hover { background-color:#eee; }
	.my_clip_button.active { background-color:#aaa; }
	</style>
    <script src="static/js/ZeroClipboard.js"></script>
    <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.7.2.min.js"></script>  
    <script language="JavaScript" >
        //for csrf checking
        jQuery(document).ajaxSend(function(event, xhr, settings) {
            function getCookie(name) {
                var cookieValue = null;
                if (document.cookie && document.cookie != '') {
                    var cookies = document.cookie.split(';');
                    for (var i = 0; i < cookies.length; i++) {
                        var cookie = jQuery.trim(cookies[i]);
                        // Does this cookie string begin with the name we want?
                        if (cookie.substring(0, name.length + 1) == (name + '=')) {
                            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                            break;
                        }
                    }
                }
                return cookieValue;
            }
            function sameOrigin(url) {
                // url could be relative or scheme relative or absolute
                var host = document.location.host; // host + port
                var protocol = document.location.protocol;
                var sr_origin = '//' + host;
                var origin = protocol + sr_origin;
                // Allow absolute or scheme relative URLs to same origin
                return (url == origin || url.slice(0, origin.length + 1) == origin + '/') ||
                    (url == sr_origin || url.slice(0, sr_origin.length + 1) == sr_origin + '/') ||
                    // or any other URL that isn't scheme relative or absolute i.e relative.
                    !(/^(\/\/|http:|https:).*/.test(url));
            }
            function safeMethod(method) {
                return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
            }
        
            if (!safeMethod(settings.type) && sameOrigin(settings.url)) {
                xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
            }
        });
        
        function setTdValue(td,url)
        {
            td.value=url.replace(/^\s*/,"").replace(/\s*$/,"")
        }
        
        
        /**
        * 删除左右两端的空格,及中间的空格
        */
        String.prototype.trim=function()
        {
             return this.replace(/\s*/g,"")
        }
        
        var g_bFocus="0"
        var g_bFilter="0"
        
        function queryMissionInfo()
        {
            //downloadUrl("/getmissioninfo", "POST", "content=" + encodeURI(document.getElementById("keyword").value), onQueryReturned);
            
            //alert("|"+$("#queryText")[0].value+"|"+$("#queryText")[0].value.trim()+"|")
            $.post("/missioninfo",{"content":encodeURI($("#queryText")[0].value.trim())},function(responseText)
                {
                    $("#missionInfoDiv")[0].innerHTML = responseText;
                    for(var i=0 ;i < $(".missionInfoTr").length ;++i)
                    {
                        initClipBtn(i);
                        $(".url")[i].onclick()
                    }
                }
                ,"text");
		    $("#missionInfoDiv")[0].innerHTML = "<p1>数据请求中...</p1>";
		        
        }

        function initClipBtn(index)
        {
            //$(".missionInfoTr")[index]
            var clip = new ZeroClipboard.Client();
    		clip.setHandCursor( true );
    		clip.addEventListener('load', function (client) {
    			//debugstr("Flash movie loaded and ready.");
    		});
    		
    		clip.addEventListener('mouseOver', function (client) {
    			// update the text on mouse over
    			clip.setText(  $(".missionInfoTr:eq("+index+") > .url:last ")[0].value );
    		});
    		
    		clip.addEventListener('complete', function (client, text) {
    			//debugstr("Copied text to clipboard: " + text );
    			//alert("Copied text to clipboard: " + text );
    		});
    		
    		
    		clip.glue( $(".missionInfoTr:eq("+index+") input:last ")[0], $(".missionInfoTr:eq("+index+") input:last ")[0].parentNode );
    		
            //$("#op_"+mission_id+" > input :last"
        }
 

        function delmissionInfo(input)
        {
            if(confirm("确定删除这条记录吗?","确定","取消"))
            {
                key_id=input.name
                object=input
                while (object.tagName != 'TR') {
                    object = object.parentNode;
                }
                object.parentNode.removeChild(object);
                for(var i=0 ;i < $(".missionInfoTr").length ;++i)
                {
                    initClipBtn(i);
                }
                $("#callback_message")[0].style.display="none"
                $.post("/deletemissioninfo",{"key_id":key_id},function(responseText)
                    {
                        $("#callback_message")[0].innerHTML=responseText
                        $("#callback_message")[0].style.display="block"
                    });
            }
        }
        
        function delLine(input)
        {
            object=input
            while (object.tagName != 'TR') {
                object = object.parentNode;
            }
            object.parentNode.removeChild(object);
            for(var i=0 ;i < $(".missionInfoTr").length ;++i)
            {
                initClipBtn(i);
            }
        }
        
        function quickQuery(word)
        {
            $("#queryText")[0].value=word
            queryMissionInfo()
        }
        
        function addWhiteList(word)
        {
            $("#callback_message")[0].style.display="none"
            $.post("/addwhitelist",{"shopkeeper":encodeURI(word)},function(data)
            {
                $("#callback_message")[0].innerHTML=data
                $("#callback_message")[0].style.display="block"
            })
        }

        function deleteWhiteList(word)
        {
            $("#callback_message")[0].style.display="none"
            $.post("/deletewhitelist",{"shopkeeper":encodeURI(word)},function(data)
            {
                $("#callback_message")[0].innerHTML=data
                $("#callback_message")[0].style.display="block"
            })
        }
        
        function quickSearch(word)
        {
            $("#openNewPage")[0].href="http://s.taobao.com/search?q="+encodeURIComponent(word)
            $("#openNewPage")[0].click()
            window.blur();
            setTimeout(window.focus, 0);
        }
        
        function openItemPage(url)
        {
            $("#openNewPage")[0].href=url
            $("#openNewPage")[0].click()
            window.blur();
            setTimeout(window.focus, 0);
        }
        
        function showMessage(theMission)
        {
            
            //mark the current mission
            //for(var i=0;i<$("#theMissionList a").length;++i)
            //{
            //    if($("#theMissionList a")[i].innerHTML==""+theMission.itemId)
            //    {
            //        $("#theMissionList a")[i].style.fontWeight="bold"
            //    }
            //    else
            //    {
            //        $("#theMissionList a")[i].style.fontWeight="normal"
            //    }
            //}
            if(""+theMission.itemId!=""+$("#submitUrlDiv")[0].itemId )
            {
                theMissionDivHtml=""
                message=theMission.message.replace(/;;+/g,";").replace(/^;/,"").replace(/;$/,"")
                message_pieces=message.split(";")
                if(theMission.url!="")
                {
                    theMissionDivHtml=theMissionDivHtml+'<div id="successMissionInfoDiv"><p id="success_tip" style="color:#FF1111">mission completed</p>'
                                        +"配对的url:<p>"+theMission.url+"</p></div>"
                }
                
                theMissionDivHtml=  theMissionDivHtml + "<p>任务信息:</p>"+
                                    "<ul>"
                if(theMission.site=="hiwinwin")
                {
                    for(var i=0;i<message_pieces.length;++i)
                    {   
                        if(i==0)
                        {
                            if(theMission.customer!="public")
                            {
                                theMissionDivHtml=theMissionDivHtml+
                                            "<li>"+message_pieces[i]+"&nbsp;<input value='快速查询' type='button' onclick='quickQuery(\""+message_pieces[i]+"\")' />"+"&nbsp;<input value='加白名单' type='button' onclick='addWhiteList(\""+message_pieces[i]+"\")' />"+"</li>"
                            }
                            else
                            {
                                theMissionDivHtml=theMissionDivHtml+
                                            "<li>"+message_pieces[i]+"&nbsp;<input value='快速查询' type='button' onclick='quickQuery(\""+message_pieces[i]+"\")' />"+"&nbsp;<input value='移出白名单' type='button' onclick='deleteWhiteList(\""+message_pieces[i]+"\")' />"+"</li>"
                            }            
                        }
                        else if(i==1)
                        {
                            theMissionDivHtml=theMissionDivHtml+
                                        "<li>"+message_pieces[i]+"&nbsp;<input value='快速搜索' type='button' onclick='quickSearch(\""+message_pieces[i]+"\")' />"+"</li>"
                        }
                        else
                        {
                            theMissionDivHtml=theMissionDivHtml+
                                        "<li>"+message_pieces[i]+"</li>"
                        }
                    }
                }
                else
                {
                    for(var i=0;i<message_pieces.length;++i)
                    {        
                        theMissionDivHtml=theMissionDivHtml+
                                        "<li>"+message_pieces[i]+"</li>"
                    }
                }
                theMissionDivHtml=theMissionDivHtml+
                                    "</ul>"
                theMissionDivHtml=theMissionDivHtml+"<p>尝试的url:</p>"+
                                    "<div id='submitUrlsDiv' style='width: 600px; height: 120px;overflow:scroll;overflow-x:hidden' ><ol>"
                for(var i=0;i<theMission.urls.length;++i)
                {   
                    if(theMission.bTried[i])
                    {
                        theMissionDivHtml=theMissionDivHtml+
                                        "<li class='bTried' >"+theMission.urls[i]+"&nbsp;<input value='Go' type='button' onclick='openItemPage(\""+theMission.urls[i]+"\")' /></li>"
                    }
                    else if(theMission.fetchResultTimes[i]==0)
                    {
                        theMissionDivHtml=theMissionDivHtml+
                                        "<li class='bWaiting'>"+theMission.urls[i]+"&nbsp;<input value='Go' type='button' onclick='openItemPage(\""+theMission.urls[i]+"\")' /></li>"
                    }
                    else 
                    {
                        theMissionDivHtml=theMissionDivHtml+
                                        "<li class='bTring'>"+theMission.urls[i]+"&nbsp;<input value='Go' type='button' onclick='openItemPage(\""+theMission.urls[i]+"\")' /></li>"
                    }
                }
                theMissionDivHtml=theMissionDivHtml+
                                    "</ol></div>"                
                $("#theMission")[0].innerHTML=theMissionDivHtml
            }
            else
            {
                if(theMission.url!="")
                {
                    if($("#successMissionInfoDiv").length <= 0)
                    {
                        var successMissionInfoDiv=document.createElement("div");
                        successMissionInfoDiv.innerHTML='<p id="success_tip" style="color:#FF1111">mission completed</p>'
                                        +"配对的url:<p>"+theMission.url+"</p>"
                        $("#theMission")[0].insertBefore(successMissionInfoDiv,$("#theMission")[0].firstChild)
                    }
                }
                else
                {
                    if($("#successMissionInfoDiv").length == 1)
                    {
                        $("#theMission")[0].removeChild($("#successMissionInfoDiv")[0])
                    }
                }
                
                var submitUrlsDivInnerHTML="<ol>"
                for(var i=0;i<theMission.urls.length;++i)
                {   
                    if(theMission.bTried[i])
                    {
                        submitUrlsDivInnerHTML=submitUrlsDivInnerHTML+
                                        "<li class='bTried' >"+theMission.urls[i]+"&nbsp;<input value='Go' type='button' onclick='openItemPage(\""+theMission.urls[i]+"\")' /></li>"
                    }
                    else if(theMission.fetchResultTimes[i]==0)
                    {
                        submitUrlsDivInnerHTML=submitUrlsDivInnerHTML+
                                        "<li class='bWaiting'>"+theMission.urls[i]+"&nbsp;<input value='Go' type='button' onclick='openItemPage(\""+theMission.urls[i]+"\")' /></li>"
                    }
                    else 
                    {
                        submitUrlsDivInnerHTML=submitUrlsDivInnerHTML+
                                        "<li class='bTring'>"+theMission.urls[i]+"&nbsp;<input value='Go' type='button' onclick='openItemPage(\""+theMission.urls[i]+"\")' /></li>"
                    }
                }
                submitUrlsDivInnerHTML=submitUrlsDivInnerHTML+
                                    "</ol>"
                                    
                $("#submitUrlsDiv")[0].innerHTML=submitUrlsDivInnerHTML
            }
            
            for(var i=0,j=0;i<theMission.urls.length;++i)
            {
                if(theMission.bTried[i])
                {
                    
                    $("#theMission .bTried")[j].url = theMission.urls[i]
                    //alert($("#theMission .bTried")[j].url)
                    ++j;
                }    
            }
        }
        
		function showSubmitUrlDiv(itemId)
		{
			submitUrlDivHtml= "<textarea id='urlsInput' style='width: 600px; height: 100px;' ></textarea>"
			submitUrlDivHtml=submitUrlDivHtml+
					"<input type='button' value='submit urls' id='submitUrlsBtn' />"
            submitUrlDivHtml=submitUrlDivHtml+
					"<input type='button' value='invalid mission' id='invalidMissionBtn' />"
            submitUrlDivHtml=submitUrlDivHtml+
					"<input type='button' value='delete mission' id='deleteMissionBtn' />"        
			$("#submitUrlDiv")[0].innerHTML=submitUrlDivHtml
            
            $("#submitUrlDiv")[0].itemId=""+itemId
			$("#submitUrlsBtn")[0].onclick=function()
			{
				var submitData={}
				submitData["itemId"]=itemId
				urls_input=$("#urlsInput")[0].value.replace(/\s*$/,"").replace(/\n/g,"").replace(/;;+/g,";").replace(/^;/,"").replace(/;$/,"").split(";")
				urls_query=new Array()
				submitUrls=new Array()
				/*for(var i=0;i<$(".url").length;++i)
				{
					urls_query[i]=$(".url")[i].value
				}*/
				
				for(var i=0;i<urls_input.length;++i)
				{
					submitUrls.push(urls_input[i])
				}
				for(var i=0;i<urls_query.length;++i)
				{
					submitUrls.push(urls_query[i])
				}
				
                // not ask now
				var bConfirm=true
				var bDuplicate=false
				submitData["urls"]="["
				for(var i=0;i<submitUrls.length;i++)
				{
					if(bDuplicate==false)
					{
						for(var j=0;j<$(".bTried").length;++j)
						{   
							if($(".bTried")[j].url.replace(/&$/,"")==submitUrls[i].replace(/&$/,""))
							{
								if(bConfirm == false)
								{
									bDuplicate = confirm("有曾经提交验证过的url,确定再次提交吗？","提交","不重复提交")
									bConfirm = true
								}    
								if(bDuplicate==true)
								{
									break;
								}
								else
								{
									submitUrls.splice(i,1,"")//replace by empty string
								}
							}
							
						}
					}
					if(submitUrls[i]!="")
					{
						if(submitData["urls"]!='[')
						{
							submitData["urls"]=submitData["urls"]+","
						}
						submitData["urls"]=submitData["urls"]+"\""+submitUrls[i]+"\""
					}
				}
				submitData["urls"]=submitData["urls"]+"]"
				
				submitUrl(submitData)
				
			}
            
            $("#invalidMissionBtn")[0].onclick=function()
            {
                $("#callback_message")[0].style.display="none"
                $.post("/invalidmissionc",{"itemId":itemId},function(data)
                {
                    $("#callback_message")[0].innerHTML=data
                    $("#callback_message")[0].style.display="block"
                })
            }
            
            $("#deleteMissionBtn")[0].onclick=function()
            {
                $("#callback_message")[0].style.display="none"
                $.post("/deletemissionc",{"itemId":itemId},function(data)
                {
                    $("#callback_message")[0].innerHTML=data
                    $("#callback_message")[0].style.display="block"
                })
            }
		}
		
        function drawMissionArea(data,itemId)
        {
            if(typeof(itemId)=="undefined" || itemId=="")
            {
                if(typeof($("#submitUrlDiv")[0].itemId)=="undefined")
                {
                    $("#submitUrlDiv")[0].itemId=""
                }
                itemId=""+$("#submitUrlDiv")[0].itemId
            }
            var theAllMissionList = data.theMissionList.concat(data.thePublicMissionList); 
            for(var i=0;i<theAllMissionList.length;++i)
            {
                if(""+theAllMissionList[i].itemId==""+itemId)
                {
                    showMessage(theAllMissionList[i])
                    if(""+itemId!=""+$("#submitUrlDiv")[0].itemId)
                    {
                        showSubmitUrlDiv(itemId)
                    }
                    break;
                }
            }
            drawMissionList(data)
        }
        
        function resetClientVisitTime(input)
        {
            values=input.name.split(":")
            site=values[0]
            client=values[1]
            $("#callback_message")[0].style.display="none"
            $.post("/resetclientvisittime",{"site":site , "client":encodeURIComponent(client)},function(data)
                {
                    $("#callback_message")[0].innerHTML=data
                    $("#callback_message")[0].style.display="block"
                    $("#playAudioClientOffline")[0].pause()
                })
        }
        
        function removeClient(input)
        { 
            values=input.name.split(":")
            site=values[0]
            client=values[1]
            $("#callback_message")[0].style.display="none"
            $.post("/removeclient",{"site":site , "client":encodeURIComponent(client)},function(data)
                {
                    $("#callback_message")[0].innerHTML=data
                    $("#callback_message")[0].style.display="block"
                    $("#playAudioClientOffline")[0].pause()
                })
        }
        
        function showClientStatus(clientStatusBuffer)
        {
            theClientListHTML=""
            
            var d = new Date();
            var time_now = d.getTime()/1000.0
            var bWarn=false
            for(var i = 0; i< clientStatusBuffer.length; ++i)
            {
                var timeoff=Math.round(time_now-parseFloat(clientStatusBuffer[i].lastVisitTime))
                var timeoffHTML=""  
                if (timeoff>300&&timeoff<=600)
                {
                    timeoffHTML="<span style='background-color:pink;'>"+timeoff+"</span>"    
                }
                else if(timeoff>600)
                {
                    timeoffHTML="<span style='background-color:red;'>"+timeoff+"</span>"    
                    bWarn=true
                }
                else
                {
                    timeoffHTML="<span >"+timeoff+"</span>"    
                }
                theClientListHTML=theClientListHTML+clientStatusBuffer[i].site+":"+clientStatusBuffer[i].client+"&nbsp;"+timeoffHTML+                    
                    "s<input name='"+clientStatusBuffer[i].site+":"+clientStatusBuffer[i].client+
                    "' type='button' value='重置' onclick='resetClientVisitTime(this)'  />"+
                    "<input name='"+clientStatusBuffer[i].site+":"+clientStatusBuffer[i].client+
                    "' type='button' value='删除' onclick='removeClient(this)' />"
                if((i+1)%5==0)
                {   
                    //add a <br/> every 5 clients
                    theClientListHTML=theClientListHTML+"<br/>"
                }    
            }
            $("#theClientList")[0].innerHTML=theClientListHTML
                        
            if(bWarn)
            {
                $("#playAudioClientOffline")[0].volume=0.3;
                $("#playAudioClientOffline")[0].play()
            }
        }
        
        function getMission(itemId)
        {
			if(typeof(itemId)=="undefined")
			{
				itemId=""
			}
            $.post("/getmission",{"itemId":itemId , "bFocus":g_bFocus},function(data)
                {
                    showClientStatus(data.clientStatusBuffer)
                    if(data.status=="withItemId")
                    {
                        if(itemId!="")
                        {
                            drawMissionArea(data,itemId)
                        }
                        else
                        {
                            alert("error, should not be here!data.status="+data.status)
                        }
                    }
                    else if(data.status=="waitForUrls")
                    {
                        drawMissionArea(data)
                            
                        $("#playAudioGot")[0].volume=0.3;
                        $("#playAudioGot")[0].play()
                        alert("got new mission")
                        
                    }
                    else if(data.status=="warnMissionNeed2Handle")
                    {
                        $("#playAudioNeed2Handle")[0].volume=0.3;
                        $("#playAudioNeed2Handle")[0].play()
                        drawMissionArea(data)
                    }
                    else if(data.status=="waitForMissions")
                    {
                        drawMissionArea(data)
                    }
                    else
                    {
                        alert("error, should not be here!data.status="+data.status)
                    }
                    $("#getNewMissionBtn")[0].value="get new mission"
                }
                ,"json")
        }
        
        function getNewMission()
        {
            $("#getNewMissionBtn")[0].value="get new mission ..."
            getMission()
            if(typeof($("#switchGetNewMissionBtn")[0].keep)=="undefined"||$("#switchGetNewMissionBtn")[0].keep==1)
            {
                setTimeout("getNewMission()",10000)
            }
            return 
        }
		
        function switchGetNewMission(input)
        {
            if(typeof($("#switchGetNewMissionBtn")[0].keep)=="undefined"||$("#switchGetNewMissionBtn")[0].keep==1)
            {
                input.keep=0
                $("#switchGetNewMissionBtn")[0].value="keep"
            }
            else
            {
                input.keep=1
                $("#switchGetNewMissionBtn")[0].value="stop"
            }
        }
        
        function drawMissionList(data)
        {
            // sort the mission list
            function sortMission(a,b)
            {
                if(a.site=="hiwinwin" && b.site=="nmimi")
                {
                    return -1
                }
                else if(b.site=="hiwinwin" && a.site=="nmimi")
                {
                    return 1
                }
                else
                {
                    return parseFloat(a.createTime)-parseFloat(b.createTime)
                }
            }
            data.theMissionList.sort(sortMission)
            data.thePublicMissionList.sort(sortMission)
            
            theMissionListHtml=""
            var d = new Date();
            var time_now = d.getTime()/1000.0
            if(data.theMissionList.length>0)
            {
                for(var i=0 ;i<data.theMissionList.length;++i)
                {
                    if(g_bFilter=="1" && data.theMissionList[i].bNeed==false)
                    {
                        continue
                    }
                    
                    var markOfflineHtml=""
                    if(time_now-parseFloat(data.theMissionList[i].lastVisitTime) >= 120)
                    {
                        markOfflineHtml="background-color:pink;"
                    }
                    var markStateHtml=""
                    if(data.theMissionList[i].url!="")
                    {
                        //success
                        markStateHtml="color:#66FF33;"
                    }
                    else if(data.theMissionList[i].urls.length==0)
                    {
                        //new mission ,need to submit urls
                        markStateHtml="color:#DD0085;"
                    }
                    else
                    {
                        // undergo 
                        var bWarn=true
                        for(var j=0;j<data.theMissionList[i].bTried.length;++j)
                        {
                            if(data.theMissionList[i].bTried[j]==false)
                            {
                                bWarn=false
                                break;
                            }
                        }
                        
                        if(bWarn)
                        {
                            // all failed
                            markStateHtml="color:#6F6F6F;"
                        }
                        else
                        {
                            // still testing
                            markStateHtml="color:#0000CD;"
                        }
                    }
                    
                    theMissionListHtml=theMissionListHtml+
                        "<a style='"+markOfflineHtml+markStateHtml+"' href='javascript:getMission(\""+
                        data.theMissionList[i].itemId+"\");'>"+
                        data.theMissionList[i].itemId+"</a>&nbsp;"
                }
                
            }
            else
            {
                theMissionListHtml="no undergo mission"
            }
            
            thePublicMissionListHtml=""
            if(data.thePublicMissionList.length>0)
            {
                for(var i=0 ;i<data.thePublicMissionList.length;++i)
                {
                    if(g_bFilter=="1" && data.thePublicMissionList[i].bNeed==false)
                    {
                        continue
                    }
                    var markOfflineHtml=""
                    if(time_now-parseFloat(data.thePublicMissionList[i].lastVisitTime) >= 120)
                    {
                        markOfflineHtml="background-color:pink;"
                    }
                    
                    var markStateHtml=""
                    if(data.thePublicMissionList[i].url!="")
                    {
                        //success
                        markStateHtml="color:#66FF33;"
                    }
                    else if(data.thePublicMissionList[i].urls.length==0)
                    {
                        markStateHtml="color:#DD0085;"
                    }
                    else
                    {
                        bWarn=true
                        for(var j=0;j<data.thePublicMissionList[i].bTried.length;++j)
                        {
                            if(data.thePublicMissionList[i].bTried[j]==false)
                            {
                                bWarn=false
                                break;
                            }
                        }
                        
                        if(bWarn)
                        {
                            markStateHtml="color:#6F6F6F;"
                        }
                        else
                        {
                            markStateHtml="color:#0000CD;"
                        }
                    }
                    
                    thePublicMissionListHtml=thePublicMissionListHtml+
                        "<a style='"+markOfflineHtml+markStateHtml+"' href='javascript:getMission(\""+
                        data.thePublicMissionList[i].itemId+"\");'>"+
                        data.thePublicMissionList[i].itemId+"</a>&nbsp;"
                }
                
            }
            else
            {
                thePublicMissionListHtml="no undergo public mission"
            }
            
            $("#theMissionList")[0].innerHTML=theMissionListHtml+"&nbsp;||&nbsp;"+thePublicMissionListHtml+
                "<br/><input id='getNewMissionBtn' value='get new mission' type='button' onclick='getNewMission(this)' />"+
                "<input id='switchGetNewMissionBtn' value='stop' type='button' onclick='switchGetNewMission(this)' />"
            
            //mark the current mission
            for(var i=0;i<$("#theMissionList a").length;++i)
            {
                if($("#theMissionList a")[i].innerHTML==$("#submitUrlDiv")[0].itemId)
                {
                    $("#theMissionList a")[i].style.fontWeight="bold"
                    
                    
                }
                else
                {
                    $("#theMissionList a")[i].style.fontWeight="normal"
                }
            }
            
        }

		function getMissionList(bFilter,bFocus)
		{
            if(typeof(bFilter)!="undefined")
            {
                if (bFilter == 0)
                {
                    g_bFilter = "0"
                }
                else
                {
                    g_bFilter = "1"
                }
            }
        
            if(typeof(bFocus)!="undefined")
            {
                if (bFocus == 0)
                {
                    g_bFocus = "0"
                }
                else
                {
                    g_bFocus = "1"
                }
            }
            
			$.post("/getmissionlist",{},function(data)
                {
                    drawMissionArea(data)
                },"json")
		}
        function submitUrl(submitData)
        {
            $.post("/submiturl",submitData,function(data)
                {
                    //showMessage(data.theMission)
                    //showSubmitUrlDiv(data.theMission.itemId)
                    if(data.status!="missionComplete")
                    {
                        //submitUrl({"itemId":data.theMission.itemId})
                    }
                }
                ,"json")
        }

        
        function upQueryUrls()
        {
            urls_query=new Array()
            for(var i=0;i<$(".url").length;++i)
            {
                bAdd=true
                for(var j=0;j<urls_query.length;++j)
                {
                    if(urls_query[j]==$(".url")[i].value)
                    {
                        bAdd=false;
                        break;
                    }
                }
                if(bAdd==true)
                {
                    urls_query.push($(".url")[i].value)
                }
            }
            urls_query_str=urls_query.join(";")
            $("#urlsInput")[0].value=urls_query_str
        }

        function clearDoneBuffer()
        {
            $("#callback_message")[0].style.display="none"
            $.post("/cleardonebuffer",function(data)
                {
                    $("#callback_message")[0].innerHTML=data
                    $("#callback_message")[0].style.display="block"
                })
        }
        function displayNone(element)
        {
            element.style.display="none"
        }
	</script>
  </head>
  <body >
    <div id="callback_message" style="background-color: #C0C0C0 ; display:none" onclick="displayNone(this)" ></div>
    {% if user %}
        <div align="right">Logged in as {{ user.username }} - 
    	    <a href="{{log_in_out_url}}">Log out</a> </div>
   	{% else %}
    	<div align="right"><a href="{{log_in_out_url}}">Log in</a></div>
    {% endif %}
    <div id="theClientList">
    </div>
	<div id="theMissionList">
	</div>
	<div id="theMission">        
    </div>
    <div id="submitUrlDiv">
    </div>
    <div>
        <form action="javascript:queryMissionInfo();">
            {% csrf_token %}
          <div>
            <input name="keyword" type="text" id="queryText" size="120"></input>
            <input type="submit" value="query">
            <input type="button" value="up" onclick="upQueryUrls()">
          </div>
          未处理任务数：{{unhandledMissionCount}}，进行中任务数：{{undergoMissionCount}} &nbsp;
          <input type="button" onclick="getMissionList(0,0);" value="赶紧做任务" />
          <input type="button" onclick="getMissionList(1,1);" value="集中做任务" />
           <input type="button" onclick="getMissionList(1);" value="过滤任务" />
          <input type="button" onclick="clearDoneBuffer();" value="clear doneBuffer" />
        </form>    
    </div>
    <div id="missionInfoDiv" style="padding:10px;background-color:white;width:100%; overflow:auto;">
        <table id="missionInfoTab" >
            <caption>查询结果</caption>
            <tr>
                <td>序列</td>
                <td>掌柜名</td>
                <td>提示信息</td>
                <td>访问url</td>
                <td>任务网站</td>
                <td>可用</td>
                <td>更新时间</td>
                <td>操作</td>
            </tr>
        </table>
     
	</div>
    <div>
        <!--audio id="playAudioGot"  preload="auto" src="http://storage.live.com/items/96902E43106FA83C%21110?filename%3dalreadygot.ogg" > <b>Your browser does not support the audio tag.</b> </audio--> 
        <audio id="playAudioGot"  preload="auto" src="/static/sound/alreadygot.ogg" > <b>Your browser does not support the audio tag.</b> </audio> 
        <audio id="playAudioNeed2Handle"  preload="auto" src="/static/sound/need2handle.ogg" > <b>Your browser does not support the audio tag.</b> </audio> 
        <audio id="playAudioClientOffline"  preload="auto" src="/static/sound/clientoffline.ogg" > <b>Your browser does not support the audio tag.</b> </audio> 
    </div>
    <div>
        <a id="openNewPage" target="_blank" rel="noreferrer"></a>
    </div>
  </body>
</html>