<html>
  <head>
    <title>统计数据</title>
    <style type="text/css">
        td.hiwinwin {
            background-color:#C0C0C0 ;
        }
        td.money {
            color:#0000CD;
        }
    </style>
  </head>
  <body>
    <table id="statisticsDataTab" >
        <tr>
            <td>日期</td>
            {% for item in headline %}
                <td>{{ item.site }}<br/>{{ item.client}}</td>
            {% endfor %}
            <td>hiwinwin总计</td>
            <td>nmimi总计</td>
            <td>money估算</td>
        </tr>
    {% for dailyData in statisticsData %}
        <tr>
            <td class='money'>{{ dailyData.money }}</td>
            <td>{{ dailyData.hi_sum }}/{{ dailyData.hi_money}}</td>
            <td>{{ dailyData.nmi_sum }}/{{ dailyData.nmi_money}}</td>
            <td>{{ dailyData.label }}</td>
            {% for clientData in dailyData.clientsData %}
                <td class='{{ clientData.site }}'>{{ clientData.gold}}</td>
            {% endfor %}
        </tr>    
    {% endfor %}
    </table>
  </body>
</html>