<html>
    <head>
        <title>来路任务数据查询</title>
    </head>
    <body>
        <table >
            <tr>
                <td>序列</td>
                <td>验证码图片</td>
                <td>验证码猜测</td>
                <td>验证码答案</td>
            </tr>
        {% for code in codes %}
            <tr >
                <td>{{ forloop.counter }}.</td>
                <td><img src="{{code.codeImg}}"></td>
                <td>{{code.decoded_code}}</td>
                <td>{{code.code}}</td>
            </tr>    
        {% endfor %}
        </table>
        <p>{{wrong}}/{{sum}}</p>
    </body>
</html>